*.o
*.pyc
.*.swp
*.deb
*.changes
*.dsc
*.log
*.buildinfo
.debhelper
.ropeproject
debian/wb-mqtt-opcua
test/test-app
*.gcda
*.gcno
wb-mqtt-opcua
build/
compile_commands.json

# Visual Studio Code
.vscode
.devcontainer
.clang-format
